#home{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: start; 
    font-size: 30px; 
    
}

#home b{
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000; 
    color:#15E6CD;
    font-size: 40px;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.phrase-container{
    display:block;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}



#home p {
    padding-bottom: 10%;
    font-family:  monospace;
    color: white;
    word-spacing:normal;
    align-content: end;
}

p .home-title{
    display:flex;
    justify-content: start;
    align-self: end;
    text-align: center;
    width: 80%;
    
}

p #name b{
    font-size: 40px;
    
    
}

p #my-name{
    font-size: 60px;
    color:orange;
    
}

.homepage p:hover{
  animation: shake 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.letter-image{
    width:100%;
    margin-right:0;
    border: 2px black solid;
}

.falling-image-container {
    position: relative;
    margin-bottom: 4px;
  }
  
  .falling-image-container p {
    /* position: absolute; */
    left: -400px; 
    top: -600px;
    transition: transform 0.5s ease-in-out;
    animation: bounce-in 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, bounce 0.5s ease-in-out 2s forwards;

  }
  
  .falling-image-container:hover {
    animation: shake 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    

  }










  

