#projects{
    max-height: 100%;
}

.cardHolder{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.text-holder{
    margin-left: 3%;
}

.top-side{
    display:flex;
    flex-direction: row;
}

h1{
    color:orange;
    font-family: "Bubblegum Sans";
    margin-left: 5%;
}



