

.project-card{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height:25vh;
    margin-left:7.5%;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 0   20px  20px 20px ;
    
    
}



.left-side h2{
    margin-left: 2%;
    color:#587291;
}

.left-side{
    width:fit-content;
    margin-left: 5%;
}

.bullets{
    list-style-type: none; /* removes default bullet points */
    padding: 0;
    font-family: 'Orbitron', monospace;
    text-align: left;
    font-size:16px;
    margin: 1px;
}

.bullets li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f8ff; /* light background */
    border-radius: 10px; /* rounded corners */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* subtle shadow */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}


.bullets li:hover {
    transform: scale(1.05); /* slightly enlarge on hover */
    background-color: #b0e0e6; /* change color on hover */
}

.bullets li {
    color: #2F97C1; /* tomato for odd items */
    font-weight: bold; /* bold text */
}

#case-study-1 .top-side .header-holder, #case-study-1 .project-card{
    background-color: rgb(133, 255, 117);
}

#case-study-2 .top-side .header-holder, #case-study-2 .project-card{
    background-color: #15E6CD;
}

#case-study-3 .top-side .header-holder, #case-study-3 .project-card{
    background-color: #1CCAD8;
}

.see-more-button {
    border: 0px; /* Border style for the button */
    color: #333; /* Text color */
    padding: 1px 2px; 
    text-decoration: none; /* Remove underline from links */
    font-size: 30px; /* Font size for the button text */
    transition: all 0.3s ease; /* Smooth transition effect for hover */
    background-color: transparent;
    opacity: 100%;
}



.see-more-button:hover {
    opacity: 50%;
    font-size: 40px;
}

button{
    background-color: transparent;
    border: none;
    font-family: monospace;
    font-size: 55px;
    justify-self: center;
    color: #FFFFFF;
}

.top-side{
    padding-left: 5%;
    
}

.top-side h2{
    font-family: "Orbitron";
    font-size: 40px;

}

.case-study{
    
    margin-left:3%;
    margin-right:3%;
    height: fit-content;
    
}

.top-side .header-holder{
    border-radius: 20px 20px 20px 20px ;
    border:white solid;
    padding-left: 5%;
    padding-right: 5%;
    
}

.button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}


